
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
}

ul::after {
  content: "";
  display: table;
  clear: both;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Kleur van de link verandert bij hoveren */
li a:hover {
  background-color: #00a651;
}

.over-mij {
  background-color: #1c1c1c;
  color: white;
  padding: 16px;
  margin-top: 10px;
}

.over-mij h2,
.over-eafc h2 {
  color: #00a651;
  margin-top: 0;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #1c1c1c;
}
  

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  float: none;
}